<div class="chat-item-o message-box-holder " >
    <div class="other">
        <div class="message">
            <div class="head">
                <img class="chatbox-avatar" src="{{ message.user_profile_img }} " alt="" />
                <h4 class="chat-partner-name">{{message?.username}}</h4>
                <i>{{ chatService.formatTime(message?.timestamp) }}</i>
            </div>
            <p class="content message-box">
                {{message?.content}}
                <span *ngIf="message?.type === 'plain' || message?.type === undefined " 
                    [innerHTML]="message?.content">
                </span> 
            </p>
        </div>
    </div>
    <span *ngIf="message?.edited" class="material-icons-outlined">edited</span>
</div>