<div class="chat-item" *ngIf="message.username === current_user">
    <span *ngIf="message.edited"><i-feather name="edit-2" class="edit-2"></i-feather></span>
    <div class="my">
        <div class="message">
            <div class="head">
                <img src="../../../assets/image/qoute-icon.png" alt=""
                    *ngIf="message.the_type === 'plain' || message.the_type === undefined">
                <h4>{{message.username}}</h4>
                <i>{{ chatService.formatTime(message.timestamp) }}</i>
            </div>
            <p class="content">
                <span *ngIf="message.the_type === 'plain' || message.the_type === undefined " 
                    [innerHTML]="message.content">
                </span> 
            </p>
        </div>
    </div>
</div>