<div class="chat-item message-box-holder">
    <span *ngIf="message.edited"><i-feather name="edit-2" class="edit-2"></i-feather></span>
    <div class="my">
        <div class="message">
            <div class="head">
                <img class="chatbox-avatar" src="{{ message.user_profile_img }} " alt="" />
                <h4 >{{message.username}}</h4>
                <i>{{ chatService.formatTime(message.timestamp) }}</i>
            </div>
            <p class="content message-box message-partner">
                {{message?.content}}
                <span *ngIf="message?.type === 'plain' || message?.type === undefined " 
                    [innerHTML]="message?.content">
                </span> 
            </p>
        </div>
    </div>
    <span *ngIf="message?.edited" class="material-icons-outlined">edited</span>
</div>